<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<import resource="database/Spring-Datasource.xml" />
	<import resource="student/Spring-Student.xml" />
	<import resource="course/Spring-Course.xml" />
	<import resource="professor/Spring-Professor.xml" />
	<import resource="evaluation/Spring-Evaluation.xml" />
	<import resource="registration/Spring-Registration.xml" />
	<import resource="connection/Spring-Connection.xml" />
	<import resource="completedCourse/Spring-Completed-Course.xml" />
	<import resource="cart/Spring-Cart.xml" />

</beans>